*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../img/Football_background.png');
}

header{
    background-image: url('../img/BallFootball3.png');
    padding-bottom: 30px;
}

p{
    text-align: center;
    font-size: 25px;
}

header h1{
    color: #faf9f6;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    color:rgba(255, 255, 255, 0.663);
    background-color: black;
    font-size: 20px;
    border-radius: 25px;
    text-decoration: none;
    padding: 5px;
}



nav a:hover{
transition: 1s all;

color: #ffffff;

}

footer{
    background-image: url('../img/BallFootball3.png');
    position: absolute;
    opacity: 55%;
    width: 1550px;
    height: 125px;

    padding-top: 10px;
    padding-bottom: 35px;
}

p{
    color: white;
}

main{
    margin-top: 60px;
    margin-bottom: 100px;
}

footer p{
    color: white;
    text-align: center;
    opacity: 100%;
}

footer{
    margin-top: 150px;
}
