*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../img/Football_background.png');
}

header{
    background-image: url('../img/BallFootball3.png');
    position: sticky;
}

p{
    text-align: center;
    font-size: 25px;
}

header h1{
    color: #faf9f6;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    color:rgba(255, 255, 255, 0.663);
    background-color: black;
    font-size: 20px;
    border-radius: 25px;
    text-decoration: none;
    padding: 5px;
    transition: 1s all;
}



nav a:hover{
transition: 1s all;

color: #ffffff;

}

table{
    color: blue;
    background-color: #00ffff;
    text-align: center;
}

.form-group{
    color: blue;
    background-color: #00ffff;
    margin-right: 200px;
}

td{
    padding-left: 10px;
    justify-content: center;
    display: flexbox;
}

th{padding-left: 10px;}

.TC{
    margin-left: 630px;
    padding-bottom: 5px;
}

.CL{
    padding-bottom: 10px;
}

.CL a{
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border: white 1px solid;
    border-radius: 20px;
    transition: 1s;
}

.CL a:hover{
    transition: 0.2s;
    color: #00ffff;
    background-color: white;
    border: #00ffff 1px solid;
    transition: 1s;
}

footer{
    background-image: url('../img/BallFootball3.png');
    position: absolute;
    opacity: 55%;
    width: 1550px;
    height: 125px;

    padding-top: 10px;
    padding-bottom: 35px;
}

p{
    color: white;
}

main{
    margin-top: 60px;
    margin-bottom: 100px;
}

footer p{
    color: white;
    text-align: center;
    opacity: 100%;
}

footer{
    margin-top: 150px;
}
img, .SFA {
    position: sticky;
    width: 15%;
    height: 15%;

}
.login {
    display: flex;
    justify-content: flex-end;
}
.register {
    color: #ffffff;
    background-color: rgba(236, 236, 238, 0.384);
    border-radius: 7px;
    padding: 6px;
    transition: 1s;
    text-decoration: none;
}
.register:hover {
    color: black;
    padding: 10px;
    transition: 1s;
}
.login {
    color: #ffffff;
    background-color: rgba(236, 236, 238, 0.384);
    border-radius: 7px;
    padding: 6px;
    transition: 1s;
    text-decoration: none;

}
.login:hover {
    color: black;
    padding: 10px;
    transition: 1s;
}
div, .school {
    display: flex;
    justify-content: space-between;
}
